body {
  color: #707070;
  font-family: "Montserrat";
}

p,
label {
  font-size: 21px;
}

label {
  font-weight: bold;
}

/* header */
.logo {
  height: 105px;
}

.header {
  padding: 70px;
  text-align: center;
}
.col-2.logo-content {
  text-align: right;
}

.test-text {
  font-size: 94px;
}

.hero {
  margin-bottom: 200px;
}

/* Sections */
.block-section {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.developer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.developer-text {
  margin-bottom: 50px;
}

.block-img {
  margin: 70px auto;
  height: 375px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.developer-content .logo-uaify img {
  height: 110px;
  width: auto;
}

/* box */
.box-icon-content {
  border: 1px solid #707070;
  position: relative;
  padding: 30px 5px 25px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.box-icon {
  border: 1px solid #707070;
  border-radius: 50%;
  padding: 5px 5px;
  line-height: 1;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-text,
.small-text {
  font-size: 16px;
  text-align: left;
}

/* Title */

.title {
  font-size: 62px;
  font-weight: bold;
  margin-bottom: 15px;
}

.subtitle:first-child {
  margin-bottom: 25px;
}

/* form */
.btn.btn-send {
  background: #ff9201;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  border-radius: 50px;
  padding: 12px 40px;
  margin: 50px auto;
  display: block;
}

/* Contact */
.block-section.section-contact {
  margin-bottom: 80px;
}

.section-contact p {
  margin-bottom: 40px;
}

.section-bottom {
  margin-bottom: 100px;
}

.section-bottom p {
  font-size: 42px;
  line-height: 1;
  margin-top: 50px;
  font-weight: 300;
}

/* footer */

.footer {
  background: #ff9201;
  padding: 80px 50px;
}

.footer img {
  height: 100px;
}

.nav-footer-list {
  display: flex;
  list-style: none;
}

li.nav-item {
  margin-left: 30px;
}

li.nav-item a {
  color: #fff;
  text-decoration: underline;
}

/* Responsive */

@media (max-width: 600px) {
  .logo {
    height: 50px;
  }

  .block-section {
    padding: 0 20px;
  }
  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 18px;
  }

  p,
  label {
    font-size: 16px;
  }

  .header {
    padding: 30px;
    text-align: center;
  }

  .test-text {
    font-size: 30px;
  }

  .hero {
    margin-bottom: 50px;
  }

  .developer-content .logo-uaify img {
    height: 70px;
    margin-top: 15px;
  }

  .block-img {
    margin: 30px auto;
    height: auto;
  }

  .box-icon-content {
    font-size: 14px;
  }

  .box-text,
  .small-text {
    font-size: 14px;
  }

  .section-bottom p {
    font-size: 18px;
    margin-top: 20px;
  }

  .developer-content {
    justify-content: center;
    margin-bottom: 40px;
    flex-direction: column;
  }

  .footer {
    text-align: center;
  }

  .nav-footer-list {
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }

  li.nav-item {
    margin-left: 0px;
  }
}
